The2ndVW/office_documents/
The2ndVW/pptx/

VSJ2019/office_documents/
VSJ2019/paper/figures/
VSJ2019/paper/template/
VSJ2019/paper/word/
VSJ2019/slide/pptx/

JSST2019/office_documents/
JSST2019/paper/tex/
JSST2019/paper/template/